.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-direction: column;
  padding: 0px 32px
}

.actionButtons {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 16px;
  flex-direction: column;
  gap: 16px;
}

.playButton {
  outline: unset;
  border: unset;
  padding: 16px;
  border-radius: 32px;
  font-size: 20px;
}

.fullwidthWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}

.fullwidthButton {
  background: transparent;
  outline: unset;
  border: unset;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #fff;
}